@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../../node_modules/bootstrap/scss/variables';

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $index: index(map-keys($grid-breakpoints), $breakpoint);

        @if $breakpoint == 'xs' {
            .filter-dialog-panel {
                max-width: 100vw !important; // override material element styles
                max-height: 80vh !important; // override material element styles

                .mat-dialog-container {
                    border-radius: 12px;
                }
            }
        }
    }
}