// view height based

.h-100vh {
    height: 100vh;
}
.h-75vh {
    height: 75vh;
}
.h-50vh {
    height: 50vh;
}
.h-25vh {
    height: 25vh;
}

// pixel based

.h-1000px {
    height: 1000px;
}
.h-750px {
    height: 750px;
}
.h-500px {
    height: 500px;
}
.h-250px {
    height: 250px;
}
