// view width based

.w-100vw {
    width: 100vw;
}
.w-75vw {
    width: 75vw;
}
.w-50vw {
    width: 50vw;
}
.w-25vw {
    width: 25vw;
}

// pixel based

.w-1000px {
    width: 1000px;
}
.w-750px {
    width: 750px;
}
.w-500px {
    width: 500px;
}
.w-250px {
    width: 250px;
}
