$app-primary: (
    50 : #e0ecf8,
    100 : #b3cfee,
    200 : #80b0e3,
    300 : #4d90d7,
    400 : #2678cf,
    500 : #0060c6,
    600 : #0058c0,
    700 : #004eb9,
    800 : #0044b1,
    900 : #0033a4,
    A100 : #cedaff,
    A200 : #9bb3ff,
    A400 : #688cff,
    A700 : #4f78ff,
    contrast: (
        50 : hsl(210, 63%, 15%),
        100 : hsl(210, 63%, 15%),
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$app-accent: (
    50 : #ffe7e8,
    100 : #fec3c6,
    200 : #fd9ba0,
    300 : #fc7279,
    400 : #fc545d,
    500 : #fb3640,
    600 : #fa303a,
    700 : #fa2932,
    800 : #f9222a,
    900 : #f8161c,
    A100 : #ffffff,
    A200 : #fff5f5,
    A400 : #ffc2c3,
    A700 : #ffa8aa,
    contrast: (
        50 : hsl(358, 100%, 15%),
        100 : hsl(358, 100%, 15%),
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);

$app-warn: (
    50 : #ffefe7,
    100 : #ffd6c2,
    200 : #ffbb99,
    300 : #ffa070,
    400 : #ff8b52,
    500 : #ff7733,
    600 : #ff6f2e,
    700 : #ff6427,
    800 : #ff5a20,
    900 : #ff4714,
    A100 : #ffffff,
    A200 : #fffcfb,
    A400 : #ffd2c8,
    A700 : #ffbdae,
    contrast: (
        100 : hsl(20, 100%, 15%),
        200 : hsl(20, 100%, 15%),
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000
    )
);