.header-container {
    display: flex;
    flex-direction: column;
    background-color: #1f1815;
    background-size: auto,auto 100%;
    height: 100vh;
    width: 35vw;
    align-items: flex-end;
    position: fixed;
}

.header-name {
    color: #fff;
}

.header-description {
    color: hsla(0,0%,100%,.5);
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0;
}

.inner {
    flex-grow: 1;
}

.profile {
    border-radius: .35em;
    width: 100px;
    height: 100px;
}